{% extends "main.html" %}
{% block content %}

<div class="row banner menu">
	<div class="col-md-11 col-md-offset-1 padding-none">
		<h1>Delete Category</h1>
	</div>
</div>
<div class="content">
	<h2> Are you sure you want to delete {{category.name}}? </h2>

	{% if 'email' in session and category.user_id == session['user_id'] %}
	<form action="#" method='post'>
		<div class="padding-bottom"></div>
		<button type="submit" class="btn btn-default" id="submit" type="submit">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
		<a href="{{url_for('showItemsForCategory', name = category.name, cat_id = category.id)}}" 
			class="btn btn-default delete">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
		</a>
	</form>
	{% else %}
	<span>You do not have authorisation to delete this category. Please create your own category to delete.</span>>
	{% endif %}
</div>
{% endblock %}